@font-face {
	font-family: 'wpcv';
	src:url('fonts/wpcv.eot?-refvry');
	src:url('fonts/wpcv.eot?#iefix-refvry') format('embedded-opentype'),
		url('fonts/wpcv.woff?-refvry') format('woff'),
		url('fonts/wpcv.ttf?-refvry') format('truetype'),
		url('fonts/wpcv.svg?-refvry#wpcv') format('svg');
	font-weight: normal;
	font-style: normal;
}

#toplevel_page_curriculo_vitae a.toplevel_page_curriculo_vitae div.wp-menu-image:before {
	content: "\e600";
	font-family:wpcv !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, img{ border:none !important; box-shadow:none !important;  } 


#tick{ width:16px; height:16px; float: left; margin: 9px 0 0 -20px; display:none; color:#0F0; border:none; box-shadow:none; }
#cross{ width:16px; height:16px; float: left; margin: 9px 0 0 -20px; display:none; color:#F00; border:none; box-shadow:none; }
#msgCpf{ display:none; color:#F00; }
#msgFile{ display:none; color:#F00; }
#msgLogin{ color:#F00; }

.wp-curriculo-copywrite{ font-size:10px; text-align:center; margin:5px auto 5px auto; }
.wp-curriculo-copywrite a{ text-decoration:none; color:#09F; }

.wpcvf_lightbox_content { width:700px !important; display: none; position: absolute !important; top: 10%; left: 50%; width: 50%; padding: 8px; background-color: white; z-index:1002; overflow: auto; box-shadow:#000 -2px 2px 15px 1px; margin-left:-350px !important; }/*#########################################################################################################################*/

.controls input[type='text']{ padding:0px; }