/* lightbox */
#black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.wpcvf_lightbox_content {
	display: none;
	position: absolute !important;
	top: 10%;
	left: 20%;
	width: 50%;
	/*height: 90%;*/
	padding: 8px;
	background-color: white;
	z-index:1002;
	overflow: auto;
	box-shadow:#000 -2px 2px 15px 1px;
}