select{ height:34px !important; }
#msgCpf{ display:none; color:#F00; }
#msgFile{ display:none; color:#F00; }
#tick{ width:16px; height:16px; float: left; margin: 9px 0 0 -20px; display:none; color:#0F0; }
#cross{ width:16px; height:16px; float: left; margin: 9px 0 0 -20px; display:none; color:#F00; }

select{ height:34px; }

.removerFormacao{ margin-left: -15px; }
.adicionarNovaFormacao{ margin-top: -60px; }

.removerExperiencia{ margin-left: -15px; }
.adicionarNovaExperiencia{ margin-top: -60px; }

.removerCursoPalestra{ margin-left: -15px; }
.adicionarNovaCursoPalestra{ margin-top: -60px; }

.bt_area{ margin: 25px 0 0 0; }

.bt_novo{ border-radius:5px;background: #e0e0e0; font-size:12px; /*height:28px; width:90px;*/ padding:5px; float:left; margin-top: 12px;margin-left: 15px; color: #0074a2; font-weight:bold; text-decoration:none; }
.bt_novo:hover{ background: #2ea2cc; color: #fff; text-decoration:none; }

/* lightbox caixa de aviso */
#black_overlay_status{ display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black;z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}
#aviso{ width:450px; height:150px; border:#666; background:#FFF;  position:fixed; z-index:9999; top:50%; left:50%; padding:20px; margin:-75px 0 0 -225px; display:none; }
#aviso #fecharAviso{ cursor:pointer; }

/* lightbox currículo*/
#black_overlay{	display: none; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80); }
.wpcvf_lightbox_content { width:700px !important; display: none; position: absolute !important; top: 10%; left: 50%; width: 50%; padding: 8px; background-color: white; z-index:1002; overflow: auto; box-shadow:#000 -2px 2px 15px 1px; margin-left:-350px !important; }